<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="JdbcXmlConnection"
          class="com.codeWithAshith.SpringBasics.xml.JdbcXmlConnection">
    </bean>

    <bean id="XmlDAO" class="com.codeWithAshith.SpringBasics.xml.XmlDAO">
       <property name="JdbcXmlConnection" ref="JdbcXmlConnection"/>
    </bean>

    <!-- more bean definitions go here -->

</beans>